@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import "_normalize";
@import "_variables";
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: $violet;
    color: gray;
    font-family: 'Lato';
}

.main {
    max-width: 800px;
    margin: 32px auto;
    width: 100%;
    @media (max-width: 640px) {
        margin-top: 0;
    }
    @media (min-width: 1200px) {
        max-width: 1000px;
        margin: 32px auto;
        width: 100%;
    }
}

.navigation {
    &__button {
        &__X {
            @media (max-width: 640px) {
                border: none;
                position: absolute;
                top: 0;
                right: 16px;
                background-color: #fefefe;
                height: 37px;
                width: 44px;
                font-size: 38px;
                font-weight: bold;
                z-index: 1;
            }
            @media (min-width: 641px) {
                display: none;
            }
            &--visible {
                @media (max-width: 640px) {
                    z-index: 3;
                }
            }
        }
        &--notVisible {
            @media (max-width: 640px) {
                display: none;
            }
        }
        @media (max-width: 640px) {
            border: none;
            position: absolute;
            top: 0;
            right: 16px;
            background-color: #fefefe;
            z-index: 2;
        }
        @media (min-width: 641px) {
            display: none;
        }
    }
    &__link {
        @include linkDecoration;
        &:hover {
            color: red;
        }
    }
    &__list {
        align-items: center;
        display: flex;
        justify-content: center;
        list-style: none;
        text-decoration: none;
        padding: 0;
        @media (max-width: 640px) {
            display: none;
            flex-direction: column;
            justify-content: center;
            margin: 0;
            padding: 4px;
        }
        &--visible {
            @media (max-width: 640px) {
                display: flex;
            }
        }
    }
    &__icon {
        @media (min-width: 641px) {
            display: none;
        }
    }
    &__item {
        display: block;
        margin: 0 16px;
        @media (max-width: 640px) {
            margin: 16px;
        }
    }
    @media (max-width: 640px) {
        background-color: #fefefe;
        margin: 0;
    }
}

.site-header {
    height: 25px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 16px;
    padding-top: 20px;
    @media (max-width: 640px) {
        padding: 0;
        top: 0;
        left: 0;
    }
}

.top {
    font-size: 20px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    @include linkDecoration;
}

.header {
    &__title {
        padding-top: 60px;
    }
    &__side {
        padding-top: 20px;
    }
}

.article {
    &__footer {
        margin: 0px;
        padding: 0px;
        &-img {
            max-width: 700px;
            width: 100%;
        }
    }
    &__header {
        color: #B6465F;
        font-size: 30px;
        padding-top: 20px;
    }
}

.about {
    max-width: 700px;
    width: 100%;
    &__header {
        font-size: 30px;
        color: #B6465F;
    }
    &__paragraph {
        margin: 0px;
        padding: 0px;
    }
}

.diary {
    &__header {
        color: #B6465F;
        font-size: 30px;
    }
}

.daily {
    font-style: italic;
    padding: 16px;
    &__header {
        color: blueviolet;
        font-size: 20px;
        margin: 0 0 16px;
    }
    &__link {
        color: #7A8450;
        text-decoration: none;
    }
    &__paragraph {
        line-height: 24px;
        margin: 0px;
        padding: 0px;
    }
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    @media (max-width: 640px) {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 16px;
        grid-row-gap: 16px;
    }
    @media (min-width: 1200px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 16px;
        grid-row-gap: 16px;
    }
}

.footer {
    font-size: 10px;
}